/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

html, body {
  height: 100%;
  margin: 0px;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
}

#controls {
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

#buttons {
  display: flex;
  justify-content: center;
}

.buttons-label {
  color: #ffffff;
  margin-right: .25rem;
}

#stage-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

#speed-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}

.stage-button {
  background-color: #BEE3F8; /* Blue 200 */
  color: #000000;
  font-size: larger;
  margin: 0 .2rem;
}

.stage-button--active {
  color: #ffffff;
  background-color: #3182CE; /* Blue 600 */
}

.speed-button {
  background-color: #FED7E2; /* Pink 200 */
  color: #000000;
  font-size: larger;
  margin: 0 .2rem;
}

.speed-button--active {
  color: #ffffff;
  background-color: #D53F8C; /* Pink 600 */
}

#stage-description {
  color: #ffffff;
  font-size: larger;
  font-style: italic;
  margin: .5rem;
  text-align: center;
}

.version {
  bottom: 0;
  color: #ffffff;
  font-size: smaller;
  font-style: italic;
  margin: 1rem;
  position: fixed;
  right: 0;
}
