html, body {
  height: 100%;
  margin: 0px;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
}

#stage-controls {
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

#stage-buttons {
  display: flex;
  justify-content: center;
}

.stage-button {
  margin: 0 .2rem;
}

.stage-button--active {
}

#stage-description {
  color: #ffffff;
  font-size: small;
  font-style: italic;
  margin: .5rem;
}
